.cash{
	background-color: black;
}

.box h1{
	text-align: center;
	font-size: 80px;
	color: yellow;
}
.box img{
	padding-left: 500px;
}
.box p{
	color: white;
	padding-left: 300px;
	padding-right: 300px;
}
.box a{
	font-size: 30px;
	padding-left: 600px;
	padding-right: 600px;
	background-color: black;
	color: red;
}
